.disp {
  height: 50px;
  width: 100%;
  text-align: left ;
}
.disp_history {
  height: 66px;
  width: 100%;
  text-align: left ;
}
.sizebtn
{
    width: 60px;
    height: 60px;
}
.sizebtn-big
{
    width: 270px;
    height: 60px;
}
